footer{
    margin-top: 40vh;
}

.main{
    height: 100%;
    font-family: Nunito;
}

.wishlist-menu{
    display: none;
    margin-bottom: 20px;
}

.profile-page{
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.profile-list{
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
}
.profile-list-text{
    width: 40%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    li{
        padding-top: 30px;
        transition: all 0.1s ease-in-out;
        
    }
    li:hover{
        cursor: pointer;
        border-bottom: 2px solid black;
    }
}

.underline-text{
    border-bottom: 2px solid black;
}

.change-password-container{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 300px
}


.change-password-main-text{
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 55px;
}
.form-width{
    width: 300px;
}


.change-password-main{
    width: auto;

    label{
        font-size: 14px;
        font-weight: 500;
        color: black;
    }
    input{
        width: 300px;
        background: white;
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px;
        border: 1px solid gray;       
    }
}

.change-password-forms{
    max-width: 300px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    label{
        padding-bottom: 5px;
    }
    input{
        margin-right: 20px;
    }
      
}
.profile-forms-label{
    margin-bottom: 7px;
}
.profile-label{
    display: flex;
    flex-direction: column;
}

.password-show-hide-btn{
    z-index: 1;
    position: relative;
}
.password-show-hide-btn:before {
    content: "";
    position: absolute;
    left: 270px;
    top: 42px;
    width: 22px;
    height: 22px;
    background: url("../../../../assets/show-hide-hide.png") center / contain no-repeat;
    transition: all 0.3s ease;
  }
  .password-show-hide-btn:hover{
    cursor: pointer;
  }
  .password-show-hide-btn:hover::before{
    background: url("../../../../assets/show-hide-hide-black.png") center / contain no-repeat;
  }

  .password-show::before{
    background: url("../../../../assets/show-hide.png") center / contain no-repeat;
  }
  .password-show:hover::before{
    background: url("../../../../assets/show-hide-black.png") center / contain no-repeat;
  }


.change-password-btn{
    background-color: white;
    display: block;
    height: 45px;
    width: 300px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: black;
    margin-top: 18px;
    margin-bottom: 12px;
    margin-right: 25px;
    transition: all 0.5s ease;
    border: 1px solid black;  
}
.change-password-btn:hover{
    background-color: black;
    transition: all 0.5s ease;
    border: 1px solid black;
    color: white;
}

.change-password-buttons{
    display: flex;
}

.change-password-tip-text{
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: grey;
    margin-bottom: 45px;
}

@media (max-width: 1280px){
    .profile-list-text{
        width: 80%;
    }
}
@media (max-width: 1124px){
    .profile-list{
        width: 30%;
    }
}
@media (max-width: 768px){
    .profile-page{
        justify-content: center;
    }
    .profile-list{
        display: none;
    }
    .wishlist-menu{
        display: block;
    }
}