.cart {
  position: relative; 
  box-sizing: border-box;
  height: auto;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1.5px solid var(--dark_grey, #828282);
  border-right: 1.5px solid var(--dark_grey, #828282);
}

.productItem {
  position: relative; 
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 0px;
  width: calc(50% - 20px);
  box-sizing: border-box;
  border-left: 1.5px solid var(--dark_grey, #828282);
  .info {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

  .containerBut {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: -10px;
  }

  .butCont {
    display: flex;
    padding: 10px;
    flex-direction: row;
    gap: 10px;
  }

  .conteinerButtons {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    bottom: 15%;
  }
}

.prodbody {
  display: flex;
  gap: 13px;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 20px;
}

.imgcont {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 40px;
}
