.frequently {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  position: relative;
  height: auto;
  left: 30px;
  margin-top: 150px;
}

.frequently h4 {
  width: 100%;
  max-width: 466px;
  height: 35px;
  font: 500 26px/35px 'Nunito';
  color: #000;
  z-index: 0;
}

@media only screen and (max-width: 900px) {
  .frequently {
    max-width: 100%;
  }
}
